@charset "UTF-8";

.header {
  background: #DDD;
  display: flex;
}

.scroll_container {
  width: 100%; /* 親の幅は画面いっぱい */
  background-color: #f0f0f0; /* 薄いグレー */
  padding: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* paddingを含めて幅100%にするため */
  display: flex; /*要素を横並びに*/
  overflow-x: auto; /*はみ出した時だけ、スクロールバーを表示します。はみ出していない時は表示しません。*/
}

.scroll-item {
  width: 200px; /* アイテムの幅を200pxに固定 */
  height: 150px;
  margin-right: 12px; /* アイテム間の余白 */
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* 縮まないようにする 親の幅に合わせて縮まないで（縮小率0）という意味 */
}